@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
#root {
  width: 100%;
  height: 100%
}
body {
  width: 100vw;
  height: 100vh
}
.nav {
  @apply flex w-full items-center justify-between bg-neutral-100 bg-opacity-60;
}
.ulist {
  @apply flex flex-row items-center;
}
.ulist li 
{
  @apply p-1;
}
.footer img {
  @apply w-[60px] hover:scale-105 p-1;
}
